.DS_Store
math/20250902_Calcul/Math.aux
math/20250902_Calcul/Math.log
math/20250902_Calcul/Math.synctex.gz
math/20250902_Calcul/Math.toc
math/20250902_Calcul/Math.pdf
*.aux
*.log
*.toc
*.synctex.gz
math/20250902_Calcul/Pt2 - Fonctions/Math - Exercice-2.pdf
math/20250902_Calcul/Pt2 - Fonctions/cover.pdf
math/20250902_Calcul/Pt3 - Intégrales/pt3.pdf
math/20250902_Calcul/Math - Exercice-2.pdf
math/20250902_Calcul/Pt3 - Intégrales/pt3.1_cours.pdf
math/20250902_Calcul/Pt4 - Trigonométrie/pt4.pdf
math/20250902_Calcul/Pt3 - Intégrales/pt3_content.pdf
math/20250902_Calcul/Pt2 - Fonctions/Math - Exercice-2.pdf
math/20250902_Calcul/Pt2 - Fonctions/Math - Exercice-2.pdf
math/20250902_Calcul/Pt2 - Fonctions/Math - Exercice-2.pdf
math/20250902_Calcul/Pt4 - Trigonométrie/pt4_content.pdf
math/20250914_Raisonnement/pt1/Logique1.pdf
math/20250902_Calcul/Pt4-Trigo.pdf
math/20250902_Calcul/Pt3 - Intégrales.pdf
math/20250914_Raisonnement/pt3/Logique3_content.pdf
math/20250914_Raisonnement/pt2/Logique2.pdf
